In [1]:
import pickle
import joblib as jbl
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from tensorflow.keras.models import Model, Sequential, load_model, save_model
from tensorflow.keras.layers import Input, Conv2D, Flatten, Dense, Dropout, MaxPooling2D
from tensorflow.keras import optimizers
from tensorflow.keras.utils import to_categorical, plot_model, model_to_dot

In [2]:
data_dict = pickle.load(open('C:/Users/Jose/Desktop/data.pickle', 'rb'))

data = data_dict['data']
labels = np.asarray(data_dict['labels'])

In [3]:
labels_dict = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E',
               5: 'G', 6: 'H', 7: 'I', 8: 'J',
               9: 'K', 10: 'L', 11: 'M', 12: 'N',
               13: 'O', 14: 'P',
               15: 'R', 16: 'S', 17: 'T', 18: 'U',
               19: 'V', 20: 'W', 21: 'Y',
               22: 'Z'}

In [4]:
resultados = pd.DataFrame({"data": data, "labels": labels})

In [5]:
resultados.groupby("labels").count()

        data
labels
A        149
B        184
C        116
D        200
E        172
G        135
H        200
I        133
J        200
K        200
L        140
M        200
N        169
O        200
P        195
R        200
S        200
T        200
U         46
V        111
W         84
Y        200
Z        200

In [6]:
resultados.groupby("labels").count().sum()

data    3834
dtype: int64

In [7]:
data_dict_2 = pickle.load(open('C:/Users/Jose/Desktop/data_dos_manos.pickle', 'rb'))

data_2 = data_dict_2['data']
labels_2 = np.asarray(data_dict_2['labels'])

In [8]:
resultados_2 = pd.DataFrame({"data": data_2, "labels": labels_2})

In [9]:
resultados_2.groupby("labels").count()

        data
labels
Enie     126
F        216
Q         98
X        307

In [10]:
resultados_2.groupby("labels").count().sum()

data    747
dtype: int64